---
import { BIG_CACHE, getEditionInfo, stripHtmlHeadings } from "~utils";
import YouTube from "../components/icons/YouTube.astro";
import Card from "~components/Card.astro";
import BaseLayout from "~layouts/Layout.astro";
import CtaLink from "~components/CtaLink.astro";
import Video from "~components/Video";
import { CollectionEntry, getCollection } from "astro:content";

if (typeof Astro.params.edition !== "string") return Astro.redirect("/");

const editions = await getCollection("editions");

let matchingEdition: CollectionEntry<"editions"> | undefined = undefined;
for (const edition of editions) {
  const info = getEditionInfo(edition.id);
  if (info) {
    if (Astro.params.edition === `${info.num}`) {
      // ex. redirect wtw.dev/48 -> wtw.dev/48-is-solid-what-react-shouldve-been
      return Astro.redirect(`/${info.base}`);
    } else if (Astro.params.edition === info.base) {
      matchingEdition = edition;
      break;
    }
  }
}

if (!matchingEdition) return Astro.redirect("/");

Astro.response.headers.set("cache-control", BIG_CACHE);
const { id, data } = matchingEdition;
const { Content, headings } = await matchingEdition.render();
const title = headings.find((h) => h.depth === 1)?.text ?? "Whiteboard the Web";
const canonicalBase = getEditionInfo(id)?.base;
---

<BaseLayout
  title={title}
  canonicalBase={canonicalBase}
  ogType="video.other"
  preconnectToYoutube={true}
>
  <header>
    <h1 transition:name="heading">#WhiteboardtheWeb</h1>
    <a
      href="https://youtube.com/@bholmesdev"
      transition:name="subscribe-container"
      class="subscribe-button"><YouTube /> Subscribe</a
    >
  </header>
  <div>
    <Card twitter={data.twitter} youtube={data.youtube} title={title}>
      <Content slot="body" />
      <Video
        slot="video"
        client:load
        title={title}
        hasColorIntersectionObserver={false}
        editionInfo={getEditionInfo(id)}
        {...data.youtube}
      />
    </Card>
    <CtaLink href="/">Hey, I learned something. Gimme more!</CtaLink>
  </div>
</BaseLayout>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 1rem;
  }

  h1 {
    font-size: 2rem;
    margin: 0;
    font-weight: 700;
    line-height: 1;
  }

  div {
    --cardColor: var(--color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .subscribe-button {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    background-color: var(--color);
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
    color: white;
    font-weight: 700;
    transition: background-color 0.2s, transform 0.2s;
  }

  .subscribe-button :global(svg) {
    padding-block-end: 0.05rem;
  }

  .subscribe-button:focus {
    outline: 2px solid var(--color);
  }

  .subscribe-button:is(:focus, :hover) {
    background-color: hsl(var(--color-hs), 70%);
    transform: scale(1.03);
  }
</style>
