---
import { MarkdownLayoutProps } from 'astro';
import Card from '~/components/Card.astro';
import BaseLayout from './Layout.astro';
import { stripHtmlHeadings } from '~/utils';

type Props = MarkdownLayoutProps<{
  youtube: string;
  twitter: string;
}>;

const { headings, compiledContent, frontmatter } = Astro.props;

Astro.response.headers.set(
	'Cache-control',
	'public, max-age=31536000'
)

const title = headings.find(h => h.depth === 1)?.text ?? 'Whiteboard the Web'
---

<BaseLayout title={title} preconnectToYoutube={Boolean(frontmatter.youtube)}>
  <h1>{title}</h1>
  <Card 
    title={title}
    showTitleAsHeading={false}
    htmlBody={stripHtmlHeadings(compiledContent())}
    {...frontmatter}
  />
</BaseLayout>
